@font-face {
    font-family: 'IRAN Sans';
    src: url('../fonts/IRAN Sans.eot'); /* IE9 Compat Modes */
    src: url('../fonts/IRAN Sans.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
    src: url('../fonts/IRAN Sans.woff') format('woff'); /* Pretty Modern Browsers */
    src: url('../fonts/IRAN Sans.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'web_Yekan';
    src: url('../fonts/web_Yekan.eot'); /* IE9 Compat Modes */
    src: url('../fonts/web_Yekan.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
    src: url('../fonts/web_Yekan.woff') format('woff'); /* Pretty Modern Browsers */
    src: url('../fonts/web_Yekan.ttf') format('truetype'); /* Safari, Android, iOS */
}

html,
body {
  font-family: 'IRAN Sans', web_Yekan, Tahoma, sans-serif !important;
  font-size: 20px;
}
/*
  Navbar
*/
.navbar-inverse {
  height: 55px;
}
.navbar-inverse .navbar-brand {
  font-family: web_Yekan;
  font-size: 23px;
}
/* Define 2 column template */
.right-side,
.left-side {
  min-height: 100%;
  display: block;
}
/*left side - contins main content*/
.left-side {
  margin-right: 175px;
}
/*right side - contains sidebar*/
.right-side {
  position: fixed;
  width: 175px;
  top: 55px;
}
/*
  Sidebar
*/
.sidebar {
  background-color: rgba(150, 150, 150, 0.3);
  margin-bottom: 0px;
}
.sidebar-menu {
  list-style: none;
  padding: 0px;
}
.sidebar-menu > li > a {
  padding: 15px 10px 15px 10px;
  display: block;
  text-align: center;
}
.sidebar .fa {
  font-size: 25px;
}
/*
  Dropdown
*/
.dropdown-menu .fa {
  font-size: 15px;
}
.dropdown-menu > li {
  text-align: center;
}
.dropdown-menu > li > a {
  text-align: right;
}
/*
  Images
*/
img {
  max-width: 100% !important;
}