@font-face {
    font-family: 'IRAN Sans';
    src: url('../fonts/IRANSans.eot'); /* IE9 Compat Modes */
    src: url('../fonts/IRANSans.woff') format('woff'); /* Pretty Modern Browsers */
    src: url('../fonts/IRANSans.woff2') format('woff2'); /* Super Modern Browsers */
    src: url('../fonts/IRANSans.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'B Nazanin';
    src: url('../fonts/BNazanin.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BNazanin.woff') format('woff'); /* Pretty Modern Browsers */
    src: url('../fonts/BNazanin.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'B Tabassom';
    src: url('../fonts/BTabassom.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BTabassom.woff') format('woff'); /* Pretty Modern Browsers */
    src: url('../fonts/BTabassom.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'B Yekan';
    src: url('../fonts/BYekan.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BYekan.woff') format('woff'); /* Pretty Modern Browsers */
    src: url('../fonts/BYekan.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'B Zar';
    src: url('../fonts/BZar.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BZar.woff') format('woff'); /* Pretty Modern Browsers */
    src: url('../fonts/BZar.ttf') format('truetype'); /* Safari, Android, iOS */
}

html,
body {
  font-family: 'IRAN Sans', 'B Nazanin', 'B Tabassom', 'B Yekan', 'B Zar', Tahoma, sans-serif !important;
  font-size: 15px;
}
.fa {
  font-size: 17px;
}

/*
  Navbar
*/
.navbar-inverse {
  height: 55px;
}
.navbar-inverse .navbar-brand {
  font-size: 20px;
}
/* Define 2 column template */
.right-side,
.left-side {
  min-height: 100%;
  display: block;
}
/*left side - contins main content*/
.left-side {
  margin-right: 175px;
}
/*right side - contains sidebar*/
.right-side {
  position: fixed;
  width: 175px;
  top: 55px;
}
/*
  Sidebar
*/
.sidebar {
  background-color: rgba(150, 150, 150, 0.3);
  margin-bottom: 0px;
}
.sidebar .sidebar-menu {
  list-style: none;
  padding: 0px;
}
.sidebar .sidebar-menu > li > a {
  padding: 15px 10px 15px 10px;
  display: block;
  text-align: center;
}
.sidebar .fa {
  font-size: 25px;
}
/*
  Dropdown
*/
.dropdown-menu .fa {
  font-size: 15px;
}
.dropdown-menu > li {
  text-align: center;
}
.dropdown-menu > li > a {
  text-align: right;
}
/*
  Images
*/
img {
  max-width: 100% !important;
}